<%= form_for [:admin, User.new], remote: true, html: {class: "form-horizontal form-edit-user errorss"} do |f| %>
  <div id="modal-alert" style="" class="alert alert-error">
  </div>
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <div id="message_errors">
    </div>
    <hr>
    <div class="form-group row" style="padding: 25px">
      <div class="col-sm-3">
        <%= image_tag "login.png", class: "avatar-signup", id: "img_prev" %>
      </div>
      <div class="prev col-sm-9">
        <%= f.file_field :avatar, class: "form-control preview"%>
      </div>
    </div>

    <%= f.label :email, class: "col-form-label" %>
    <%= f.email_field :email, class: "form-control", required: true %>

    <%= f.label :user_name, class: "col-form-label" %>
    <%= f.text_field :user_name, class: "form-control", required: true %>

    <%= f.label :full_name, class: "col-form-label" %>
    <%= f.text_field :full_name, class: "form-control", required: true %>

    <%= f.label :password, class: "col-form-label" %>
    <%= f.password_field :password, class: "form-control", required: true %>

    <%= f.label :password_confirmation, class: "col-form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control", required: true %>

    <%= f.label :role, class: "col-form-label" %>
    <%= f.select :role, options_for_select(select_role), {}, {class: "form-control form-control-lg"} %>

  </div>
  <div class="clearfix">
    <%= f.submit "Submit", class: "signupbtn" %>
  </div>
<% end %>
