<tr class="data-user">
  <td><%= user_counter.next %></td>
  <td><%= user.user_name %></td>
  <td><%= user.full_name %></td>
  <td><%= user.email %></td>
  <td id="load-role-<%= user.id %>"><%= user.role %></td>
  <td><%= user.activated %></td>
  <td>
    <% if valid_admin user %>
      <%= link_to_toggle_user_subscription(user) %>
      <%= link_to_delete(user) %>
    <% end %>
  </td>
</tr>
