<!DOCTYPE html>
<html>
  <head>
    <title>QaInternBatch3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= render "layouts/ckeditor" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main class="container" style="min-height: 500px;">
      <%= render "layouts/flashmessages", flash: flash %>
      <%= render "shared/profile_modal" %>
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
